.before__leave

  .before__leave--wrap
    height: 100%
    background-color: #ffffff
    margin: 0 100px
    font-family: 'Montserrat'

    .before__leave-tittle
      font-weight: lighter
      font-size: 80px
      padding-top: 50px

    .before__leave--section
      display: flex
      justify-content: space-around

      .before__leave--info
        padding: 20px

        .before__leave--tittle
          font-size: 15px
          text-transform: uppercase
          padding-bottom: 10px

        .before__leave--paragraph
          font-size: 13px
          color: gray
