.header--img
  height: 100%
  width: auto
  overflow: hidden
  background-image: url('../img/header.jpg') !important

  background-repeat: no-repeat
  background-size: cover

  .header__nav
    display: flex
    flex-direction: row
    margin: 30px 100px
    height: 40px

    .header__nav--logo
      width: 50%
      display: flex
      flex-direction: row

    .header__nav--menu
      width: 50%
      display: flex
      flex-direction: row
      justify-content: flex-end

  .header--search
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    height: 80%

    .search-title
      color: white
      font-size: 51px
      font-family: 'Open Sans'
      letter-spacing: 5px
      font-weight: 100
      margin: 15px auto

    .search-form
      display: flex
      flex-direction: row
      justify-content: center

      .search
        width: 326px
        height: 40px
        border: none
        color: lightgray

      input[value="Start typing..."]
        margin-left: 5px

      .search-button
        width: 122px
        height: 40px
        border: none
        background-color: #fd4f32
        text-transform: uppercase
        font-weight: bolder
        color: white
        font-size: 12px
        cursor: pointer


  /* media */



