.top-destinations
  background-color: #eeeeee
  height: 100%
  padding-top: 50px

  .destinations-wrap
    margin-top: 10%

  .destinations--header
    margin: 0 100px
    font-family: 'Montserrat'

    .destinations--tittle
      font-size: 16px
      text-transform: uppercase

    .destinations--paragraph
      font-size: 13px
      color: gray
      padding-bottom: 60px

  .destinations__offer
    display: flex
    flex-direction: row
    justify-content: space-around
    padding: 0 50px

    .destinations__offer--country
      position: relative

      .destinations-img
        width: 240px
        height: 200px

        .destinations-price
          position: absolute
          bottom: 0
          right: 0
          background-color: #000000
          color: #eeeeee
          font-size: 10px
          padding: 2px

        .destinations-info
          background-color: white
          height: auto
          width: 240px
          font-family: 'Montserrat'
          padding: 10px

          .destinations-info-tittle
            text-transform: uppercase
            font-size: 13px

          .destinations-info-paragraph
            padding-top: 5px
            color: gray
            font-size: 13px

/* media */