.header--img {
  height: 100%;
  width: auto;
  overflow: hidden;
  background-image: url("../img/header.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  /* media */ }
  .header--img .header__nav {
    display: flex;
    flex-direction: row;
    margin: 30px 100px;
    height: 40px; }
    .header--img .header__nav .header__nav--logo {
      width: 50%;
      display: flex;
      flex-direction: row; }
    .header--img .header__nav .header__nav--menu {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
  .header--img .header--search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80%; }
    .header--img .header--search .search-title {
      color: white;
      font-size: 51px;
      font-family: 'Open Sans';
      letter-spacing: 5px;
      font-weight: 100;
      margin: 15px auto; }
    .header--img .header--search .search-form {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .header--img .header--search .search-form .search {
        width: 326px;
        height: 40px;
        border: none;
        color: lightgray; }
      .header--img .header--search .search-form input[value="Start typing..."] {
        margin-left: 5px; }
      .header--img .header--search .search-form .search-button {
        width: 122px;
        height: 40px;
        border: none;
        background-color: #fd4f32;
        text-transform: uppercase;
        font-weight: bolder;
        color: white;
        font-size: 12px;
        cursor: pointer; }

.top-destinations {
  background-color: #eeeeee;
  height: 100%;
  padding-top: 50px; }
  .top-destinations .destinations-wrap {
    margin-top: 10%; }
  .top-destinations .destinations--header {
    margin: 0 100px;
    font-family: 'Montserrat'; }
    .top-destinations .destinations--header .destinations--tittle {
      font-size: 16px;
      text-transform: uppercase; }
    .top-destinations .destinations--header .destinations--paragraph {
      font-size: 13px;
      color: gray;
      padding-bottom: 60px; }
  .top-destinations .destinations__offer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 50px; }
    .top-destinations .destinations__offer .destinations__offer--country {
      position: relative; }
      .top-destinations .destinations__offer .destinations__offer--country .destinations-img {
        width: 240px;
        height: 200px; }
        .top-destinations .destinations__offer .destinations__offer--country .destinations-img .destinations-price {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: #000000;
          color: #eeeeee;
          font-size: 10px;
          padding: 2px; }
        .top-destinations .destinations__offer .destinations__offer--country .destinations-img .destinations-info {
          background-color: white;
          height: auto;
          width: 240px;
          font-family: 'Montserrat';
          padding: 10px; }
          .top-destinations .destinations__offer .destinations__offer--country .destinations-img .destinations-info .destinations-info-tittle {
            text-transform: uppercase;
            font-size: 13px; }
          .top-destinations .destinations__offer .destinations__offer--country .destinations-img .destinations-info .destinations-info-paragraph {
            padding-top: 5px;
            color: gray;
            font-size: 13px; }

/* media */
* {
  box-sizing: border-box; }

body {
  margin: 0; }

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font: inherit; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none;
  padding: 0; }

blockquote {
  quotes: none;
  margin: 0; }

button {
  padding: 0; }

.before__leave .before__leave--wrap {
  height: 100%;
  background-color: #ffffff;
  margin: 0 100px;
  font-family: 'Montserrat'; }
  .before__leave .before__leave--wrap .before__leave-tittle {
    font-weight: lighter;
    font-size: 80px;
    padding-top: 50px; }
  .before__leave .before__leave--wrap .before__leave--section {
    display: flex;
    justify-content: space-around; }
    .before__leave .before__leave--wrap .before__leave--section .before__leave--info {
      padding: 20px; }
      .before__leave .before__leave--wrap .before__leave--section .before__leave--info .before__leave--tittle {
        font-size: 15px;
        text-transform: uppercase;
        padding-bottom: 10px; }
      .before__leave .before__leave--wrap .before__leave--section .before__leave--info .before__leave--paragraph {
        font-size: 13px;
        color: gray; }
