<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<header>
    <section class="header">
        <div class="header--img">
            <div class="header__nav">
                <div class="header__nav--logo">
                    <img src="img/Logo.png" width="23" height="23"><img src="img/travelly.png" width="111" height="33">
                </div>
                <div class="header__nav--menu">
                    <img src="img/menu.png" width="24" height="17">
                </div>
            </div>

            <div class="header--search">
                <h1 class="search-title">Where will you go next?</h1>
                <form class="search-form">
                    <input type='search' class="search" value="Start typing..." onFocus="this.value=''">
                    <button type="button" class="search-button">go</button>
                </form>
            </div>
        </div>
    </section>
</header>

<section class="top-destinations">
    <div class="destinations-wrap">
        <div class="destinations--header">
            <h2 class="destinations--tittle">Top destinations</h2>
            <p class="destinations--paragraph">Some of the top destinations for you next summer adventure.</p>
        </div>
        <div class="destinations__offer">
            <div class="destinations__offer--country">
                <div class="destinations-img">
                    <img class="destinations-photo" src="img/Australia.jpg" width="240" height="200">
                    <div class="destinations-price">$1,095</div>
                    <div class="destinations-info">
                        <h3 class="destinations-info-tittle">Amazing Australia</h3>
                        <p class="destinations-info-paragraph">Become inspired to travel to Australia. Discover
                            fantastic
                            things to do & places to go.</p>
                    </div>
                </div>
            </div>
            <div class="destinations__offer--country">
                <div class="destinations-img">
                    <img class="destinations-photo" src="img/AmericaS.jpg" width="240" height="200">
                    <div class="destinations-price">$1,095</div>
                    <div class="destinations-info">
                        <h3 class="destinations-info-tittle">Ancient South america</h3>
                        <p class="destinations-info-paragraph">Become inspired to travel to South America. Discover
                            fantastic things to do & places to go.</p>
                    </div>
                </div>
            </div>
            <div class="destinations__offer--country">
                <div class="destinations-img">
                    <img class="destinations-photo" src="img/AmericaN.jpg" width="240" height="200">
                    <div class="destinations-price">$1,095</div>
                    <div class="destinations-info">
                        <h3 class="destinations-info-tittle">Modern North America</h3>
                        <p class="destinations-info-paragraph">Become inspired to travel to North America. Discover
                            fantastic things to do & places to go.</p>
                    </div>
                </div>
            </div>
            <div class="destinations__offer--country">
                <div class="destinations-img">
                    <img class="destinations-photo" src="img/europe.jpg" width="240" height="200">
                    <div class="destinations-price">$1,095</div>
                    <div class="destinations-info">
                        <h3 class="destinations-info-tittle">Classic Europe</h3>
                        <p class="destinations-info-paragraph">Become inspired to travel to Europe. Discover fantastic
                            things to do & places to go.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="before__leave">
    <div class="before__leave--wrap">
        <h4 class="before__leave-tittle">Before you leave</h4>
        <div class="before__leave--section">
            <div class="before__leave--info">
                <h3 class="before__leave--tittle">Visa & Documents</h3>
                <p class="before__leave--paragraph">There are some things you should take
                    care of before going to your next
                    adventure. We’ll help you to get
                    required visas and documents needed.
                </p>
            </div>
            <div class="before__leave--info">
                <h3 class="before__leave--tittle">Accomodation</h3>
                <p class="before__leave--paragraph">There are some things you should take
                    care of before going to your next
                    adventure. We’ll help you to get
                    required visas and documents needed.
                </p>
            </div>
            <div class="before__leave--info">
                <h3 class="before__leave--tittle">Visa & Documents</h3>
                <p class="before__leave--paragraph">There are some things you should take
                    care of before going to your next
                    adventure. We’ll help you to get
                    required visas and documents needed.
                </p>
            </div>
        </div>
    </div>
</section>

